<%- include('./partials/header.ejs') %>

    <div class="home-page">
        <%- include('./partials/nav.ejs')%>
            <% console.log(comment_id) %>

                <% console.log(found_comment) %>
                    <% if (success.length> 0){ %>
                        <div class="alert alert-success">
                            <%= success%>
                        </div>
                        <% } %>
                            <% if (error.length> 0){ %>
                                <div class="alert alert-danger">
                                    <%= error%>
                                </div>
                                <% } %>

                                    <input type="hidden" id="comment_id" value="<%= comment_id %>">
                                    <div class="post-container">
                                        <div class="like-body" class="text-center">
                                            <h3 style="margin-top: 2rem; font-family: cursive; font-weight: 500;"  class="text-center mt-4">Edit Comment</h3>
                                            <div class="alert alert-success mt-4" style="display: none;" id="alert-success">Comment Updated Successfully!!!</div>
                                            <div class="comment-area">
                                                <p id='msg-err' style="color: red; text-align: center;"></p>
                                                <input type="hidden" value="<%= user.token %>" id="user-token">
                                                <input type="text" name="comment" id="comment-edited" class="edit_input"
                                                    value="<%= found_comment.comment%>">
                                                <br>
                                                <button class="btn btn-danger edit-msg-btn"
                                                    onclick="editMessage(event)">Save</button>
                                            </div>
                                        </div>
                                    </div>
    </div>



    <%- include('./partials/footer.ejs') %>

        <script>
            async function editMessage() {
                event.preventDefault();
                console.log("In edit Message");
                const comment = document.getElementById("comment-edited").value;
                const token = document.getElementById("user-token").value;
                const comment_id = document.getElementById("comment_id").value;
                console.log('hui', comment_id, token, comment);


                const res = await fetch(`http://localhost:8000/edit_comment?comment_id=${comment_id}`, {
                    method: "PATCH",
                    headers: {
                        "Content-type": "application/json; charset=UTF-8",
                        Authorization: `Bearer ${token}`,
                    },
                    body: JSON.stringify({ comment })
                });
                console.log('res', res)
                const data = await res.json();
                console.log('data', data);
                if(!comment){
                    document.getElementById("msg-err").innerHTML = data.error;
                }
                else{
                    document.getElementById("alert-success").style.display = "block";
                }
            }
        </script>